<div ng-controller="FinancialController" layout="row">
    <form name="bankForm">
        <md-content class="md-padding" layout="column">
            <md-input-container>
                <label>Bank name</label>
                <input ng-model="bank_add_acct_data.bankname" ng-required="true">
            </md-input-container>
            <md-input-container>
                <label>Routing number</label>
                <input ng-model="bank_add_acct_data.routing_no" ng-required="true" ng-pattern="/\d+/">
            </md-input-container>
            <md-input-container>
                <label>Account user's name</label>
                <input ng-model="bank_add_acct_data.user_acct_name" ng-required="true">
            </md-input-container>
            <md-input-container>
                <label>Account number</label>
                <input ng-model="bank_add_acct_data.account_no" ng-required="true" ng-pattern="/\d+/">
            </md-input-container>
            <div>
                <md-button ng-click="submit_bank_info(bankForm.$valid)" class="md-primary"
                           layout="column" ng-disabled="!bankForm.$valid">
                    <p>Save</p>
                    <md-icon md-svg-src="./assets/svg/dollar.svg"></md-icon>
                </md-button>
            </div>
        </md-content>
    </form>
</div>